spring:
  application:
    name: order-management-system

  datasource:
    url: jdbc:postgresql://localhost:5432/order-management-system
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          batch_size: 50
        order_inserts: true
        order_updates: true

  web:
    error:
      include-message: always

server:
  port: 8080

logging:
  level:
    root: INFO
    com.ordermanagement: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE